/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Alef';
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

/* Fonts */

/* hebrew */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url(http://fonts.gstatic.com/s/alef/v5/VChiHjiAPQWXO24iGyJCThTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url(http://fonts.gstatic.com/s/alef/v5/VSH48mnkaaFYglCO-SehPvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.legend-container, .circle-container {
  display: inline-block;
  vertical-align: top;
  z-index: 0;
}

#portfolio * {
    z-index: 0; /* this is to override the default setting. TODO: remove this after cleaning freelancer.css */
}


.legend-container {
  margin-top: 100px;
}

.legend {
  list-style: none;
  text-align: right;
  max-height: 550px;
  overflow-y: auto;
}

.legend-item {
  margin-bottom: 10px;
}

.legend-item .cube {
  display: inline-block;
  height: 28px;
  width: 28px;
  vertical-align: middle;
	margin-left: 8px;
}


#auto_breadcrumbs > svg {
  width: 100%;
}

#auto_data > svg {
  /*width: 100%;
  height: auto;*/
}
